footer {
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;

  @include tablet {
    padding: 15px 0;
    z-index: 999;
  }
  img {
    width: 200px;
    margin: 0 2.5rem;

    @include tablet {
      width: 110px;
    }
  }
}
