.main-header {
  .content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 15px 8px 15px;
    @include tablet {
      margin-bottom: 2.5rem;
    }
  }
  .nada {
    display: none;
    @include tablet {
      opacity: 0;
      display: block;
      width: 33%;
    }
  }
  .logo {
    width: 20%;
    @include tablet {
      width: 33%;
    }
    img {
      width: 140px;
    }
  }
  nav {
    width: 75%;
    @include tablet {
      display: none;
    }
    ul {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      li {
        margin: 0px 32px;
        text-align: center;
        max-width: 190px;
        a {
          text-decoration: none !important;
          color: #fff;
          font-weight: 600;
          font-size: 1.35rem;
          line-height: 20px;
          transition: all ease-in-out 0.5s;
          &:hover {
            color: #fb273b;
            text-align: none;
          }
        }
      }
    }
  }
  .divider {
    @include tablet {
      display: none;
    }
    img {
      width: 100%;
    }
  }
}

.header-afiliado {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 15px 32px 15px;
}

.menu-icon {
  display: none;
  @include tablet {
    width: 33%;
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: block;
    z-index: 9999;
  }
}
.menu-icon__line {
  height: 7px;
  width: 55px;
  display: block;
  background-color: #d9d9d9;
  margin-bottom: 7px;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease, -webkit-transform 0.2s ease;
  transition: background-color 0.5s ease, -webkit-transform 0.2s ease;
  transition: transform 0.2s ease, background-color 0.5s ease;
  transition: transform 0.2s ease, background-color 0.5s ease,
    -webkit-transform 0.2s ease;
  border-radius: 3px;
}
.menu-icon__line-left {
  width: 55px;
  margin-top: 7px;
}
.menu-icon__line-right {
  width: 55px;
  margin-bottom: 0;
}

.overlay {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 11111111;
  top: 0;
  left: 0;
  background: #1f1e1efa;
  // background-color:#fff;
  overflow-x: hidden;
  transition: 0.4s;
  @include tablet {
    height: 105vh;
  }
  a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #fff;
    display: block;
    transition: 0.3s;
    width: max-content;
    margin-left: 4rem;
    font-size: 3rem;
    font-weight: bold;
    @include tablet {
      font-size: 1.5rem;
      margin-left: 2rem;
    }
    &:hover {
      color: #fff;
    }
    &:focus {
      color: #fff;
    }
  }
  .overlay-content {
    position: relative;
    top: 7%;
    width: 100%;
    text-align: left;
    margin-top: 30px;
    @include tablet {
      top: 10%;
    }
    @include mobile {
      top: 25%;
    }
  }
  .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    @include tablet {
      top: 0;
      right: 10px;
      font-size: 40px;
    }
  }
}
