body {
  background-image: url("../img/BG.svg");
  background-color: #2d2d2d;
  width: 100%;
  font-family: "Poppins", sans-serif;
  @include tablet {
    overflow-x: hidden !important;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }
}
body,
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #2d2d2d;
}

.hero {
  // background-image: url("../img/bg-vermelho-01.svg");
  // background-position-x: right;
  // background-repeat: no-repeat;
  // background-position-y: 0%;
  background-image: url("../img/bg-vermelho-01.png");
  background-repeat: no-repeat;
  background-position-y: 18%;
  background-size: inherit;
  background-position-x: 0;
  @include lg {
    // background-image: url("../img/bg-vermelho-01.png");
    // background-repeat: no-repeat;
    // background-position-y: 29%;
    // background-size: 100%;
    // background-position-x: 0px;
    background-image: url(../img/bg-vermelho-01.png);
    background-repeat: no-repeat;
    background-position-y: -4%;
    background-size: 200%;
  }
  @include big {
    background-image: url(../img/bg-vermelho-01.png);
    background-repeat: no-repeat;
    background-position-y: 8%;
    background-size: inherit;
    background-position-x: 0;
  }
  @include waleston {
    background-position-y: 8%;
    background-size: 100%;
    background-position-x: 680px;
  }
  @include tablet {
    background-image: url(../img/bg-vermelho-mobile.png);
    background-size: 130%;
    background-position-y: 56%;
  }
  .content-hero {
    display: flex;
    align-items: flex-end;
    @include tablet {
      flex-direction: column;
      // margin-top: 2rem;
    }
    .col-info {
      width: 43%;
      margin-top: 60px;
      @include tablet {
        width: 100%;
        margin-top: 10px;
        position: relative;
        z-index: 3;
      }
      h1 {
        color: #fff;
        font-weight: bold;
        font-size: 4rem;
        margin-bottom: 2rem;
        text-align: left;
        @include tablet {
          font-size: 2.5rem;
          margin-bottom: 1rem;
          margin-top: 0;
          text-align: center;
        }
        strong {
          color: #ff283c;
        }
      }
      .chamada {
        color: #fff;
        font-size: 1.3rem;
        max-width: 370px;
        @include tablet {
          font-size: 1.1rem;
          text-align: center;
          max-width: 290px;
          margin: 0.5rem auto;
        }
      }
      .chamada-2 {
        color: #fff;
        font-size: 1.3rem;
        max-width: 370px;
        @include tablet {
          font-size: 1.1rem;
          text-align: center;
          max-width: 250px;
          margin: 0.5rem auto;
        }
      }
      .info-afilidao {
        display: flex;
        align-items: center;
        @include tablet {
          align-items: center;
          flex-direction: column;
        }
        p {
          font-size: 0.85rem;
          color: #ce2838;
          max-width: 220px;
          margin-right: 1rem;
          margin-bottom: 0;
          padding-left: 0.3rem;
          border-left: solid 1px rgba($color: #d9d9d9, $alpha: 0.7);
          @include tablet {
            max-width: inherit;
            margin-bottom: 1rem;
            font-size: 0.95rem;
            margin-right: 0;
            text-align: center;
            max-width: 260px;
          }
        }
        a {
          text-decoration: none;
          color: #fff;
          font-weight: bold;
          background-color: #ff283c;
          text-align: center;
          border-radius: 15px;
          padding: 6px 18px;
          transition: all ease-in-out 0.5s;
          &:hover {
            color: #ff283c;
            background-color: #fff;
            border-radius: 7px;
          }
        }
      }
    }
    .col-img {
      width: 70%;
      position: relative;
      @include tablet {
        width: 100%;
      }
      // picture {
      //   @include tablet {
      //     width: 100%;
      //     display: block;
      //   }
      // }
      img {
        width: 120%;
        position: absolute;
        top: -650px;
        right: -70px;
        @include tablet {
          width: 130%;
          position: relative;
          top: 30px;
          right: 19px;
        }
      }
    }
  }
}
.games {
  // background-image: url("../img/bg-vermelho-01.svg");
  // background-position-x: right;
  // background-repeat: no-repeat;
  // background-position-y: 78%;
  .title-game {
    padding: 2.3rem 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 850px;
    margin-top: 1.4rem;
    @include tablet {
      flex-direction: column;
      text-align: center;
      width: 100%;
      padding: 0 15px 1rem 15px;
    }

    h2 {
      color: #fff;
      font-weight: bold;
      font-size: 3rem;
      @include tablet {
        font-size: 2rem;
      }
      @include sm-mobile {
        font-size: 1.8rem;
      }
    }
    a {
      color: #fff;
      border-radius: 25px;
      padding: 0.3rem 0.8rem;
      border: solid 1px #fff;
      text-decoration: none;
      transition: all ease-in-out 0.5s;
      @include tablet {
        font-size: 1.2rem;
        margin-top: 1.3rem;
      }
      @include sm-mobile {
        font-size: 0.85rem;
        margin-top: 0;
        padding: 0.2rem 0.6rem;
      }
      &:hover {
        background-color: #ff283c;
        color: #fff;
      }
    }
  }
  .carousel-content {
    .principal {
      .legenda {
        height: 400px !important;
      }
      img {
        height: 400px !important;
      }
    }
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    @include tablet {
      display: none;
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 73px;
      height: 297px;
      top: 27px;
      z-index: 9;
      left: -2px;
      background: linear-gradient(
        90deg,
        #2a2a2a 0%,
        rgba(252, 176, 69, 0) 100%
      );
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 63px;
      height: 296px;
      top: 27px;
      z-index: 9;
      right: -2px;
      background: linear-gradient(
        90deg,
        rgba(131, 58, 180, 0) 0%,
        rgba(253, 29, 29, 0) 0%,
        #793237 100%
      );
    }
    .item {
      position: relative;
      &:hover {
        .legenda {
          opacity: 1;
        }
      }
      .legenda {
        width: 100%;
        height: 295px;
        background: #2a2a2ac9;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all ease-in-out 0.5s;
        opacity: 0;
        text-align: center;
        padding: 0.5rem;
        h3 {
          color: #fff;
          font-weight: bold;
          font-size: 1.5rem;
        }
      }
    }
  }
  .carousel-content-mobile {
    display: none;
    @include tablet {
      display: block;
      padding: 0.5rem;
    }
    .item {
      position: relative;
      &:hover {
        .legenda {
          opacity: 1;
        }
      }
    }
    .legenda {
      width: 100%;
      height: 295px;
      background: #2a2a2ac9;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all ease-in-out 0.5s;
      opacity: 0;
      text-align: center;
      padding: 0.5rem;
      h3 {
        color: #fff;
        font-weight: bold;
        font-size: 1.5rem;
      }
    }
  }
  .owl-carousel {
    margin-bottom: 2rem;
    // .active:nth-child(4n) {
    //   img {
    //     height: 315px !important;
    //   }
    // }
    @include tablet {
      margin-bottom: 0.5rem;
    }
    .item {
      height: 350px;
      display: flex;
      justify-content: center;
      align-items: center;

      @include sm-mobile {
        height: 200px;
      }
      @include mb {
        height: 155px;
      }
      img {
        width: 100%;
        height: 295px;
        object-fit: cover;
        transition: all ease-in-out 0.3s;
        @include sm-mobile {
          height: 200px;
        }
        @include mb {
          height: 155px;
        }
      }
    }
    .owl-nav {
      .owl-prev {
        width: 30px;
        height: 30px;
        background-image: url("../icons/arrow.svg");
        background-size: cover;
        margin-right: 3rem;
      }
      .owl-next {
        width: 30px;
        height: 30px;
        background-image: url("../icons/arrow.svg");
        background-size: cover;
        margin-left: 3rem;
        transform: rotate(180deg);
      }
    }
  }
}
.benefits {
  .container {
    @include mobile {
      padding: 5px;
    }
  }
  h2 {
    color: #fff;
    font-weight: bold;
    font-size: 4rem;
    @include tablet {
      font-size: 2rem;
      text-align: center;
    }
    strong {
      color: #ff283c;
    }
  }
  .lista-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1.3rem auto 0 auto;
    @include tablet {
      justify-content: space-between;
      width: 100%;
      margin-bottom: 0;
    }
    @include sm-mobile {
      justify-content: space-between;
      margin: 1.3rem 0 0 0;
    }
    @include mb {
      justify-content: space-between;
    }

    li {
      width: 510px;
      height: 155px;
      padding: 1rem 1.5rem;
      background-color: #1f1f1f;
      color: #fff;
      margin-bottom: 1.5rem;
      display: flex;
      align-items: center;
      border-radius: 35px;
      justify-content: center;
      @include tablet {
        width: 48%;
        border-radius: 25px;
        height: 145px;
        margin-bottom: 1rem;
      }
      @include sm-mobile {
        width: 48%;
        border-radius: 22px;
        height: 105px;
        justify-content: flex-start;
        padding: 1rem;
        margin-bottom: 1rem;
      }
      img {
        width: 90px;
        margin-right: 2rem;
        @include tablet {
          width: 60px;
          margin-right: 0.5rem;
        }
        @include sm-mobile {
          width: 40px;
          margin-right: 0.5rem;
        }
      }
      h4 {
        font-size: 1.8rem;
        margin-bottom: 0;
        @include tablet {
          font-size: 1.5rem;
        }
        @include sm-mobile {
          font-size: 1.2rem;
        }
      }
    }
    li:nth-child(odd) {
      h4 {
        font-size: 1.8rem;
        max-width: 220px;
      }
    }
    li:nth-child(2) {
      img {
        margin-left: 40px;
        @include tablet {
          margin-left: 0;
        }
      }
      h4 {
        font-size: 1.8rem;
        width: 240px;
        @include tablet {
          font-size: 1.3rem;
          width: 100%;
        }
        @include sm-mobile {
          font-size: 0.95rem;
        }
      }
    }
    li:nth-child(2n + 1) h4 {
      font-size: 2rem;
      max-width: 170px;
      @include tablet {
        font-size: 1.5rem;
      }
      @include sm-mobile {
        font-size: 0.95rem;
      }
    }
    li:nth-child(4) {
      h4 {
        font-size: 2rem;
        max-width: 200px;
        @include tablet {
          font-size: 1.3rem;
          max-width: inherit;
        }
        @include sm-mobile {
          font-size: 0.95rem;
        }
      }
    }
  }

  .lista-content-destaque {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 1.3rem auto 0 auto;
    @include tablet {
      justify-content: flex-end;
      width: 100%;
    }
    @include sm-mobile {
      justify-content: flex-end;
      margin: 0 0 1.3rem 0;
    }

    li {
      position: relative;
      @include sm-mobile {
        width: 48%;
      }
      .click {
        position: absolute;
        top: 135px;
        left: 490px;
        width: 55px;
        @include sm-mobile {
          // top: 95px;
          // right: 0;
          // left: inherit;
          display: none;
        }
      }
    }
    a {
      width: 510px;
      height: 155px;
      padding: 1rem 1.5rem;
      background-color: #ff283c;
      color: #fff;
      margin-bottom: 1.5rem;
      display: flex;
      align-items: center;
      border-radius: 35px;
      justify-content: center;
      text-decoration: none;
      transition: all ease-in-out 0.5s;
      cursor: pointer;
      &:hover {
        background-color: #1f1f1f;
        color: #fff;
      }
      @include sm-mobile {
        width: 100%;
        border-radius: 22px;
        height: 95px;
        justify-content: flex-start;
        padding: 1rem;
        margin-bottom: 0;
      }
      h4 {
        margin-bottom: 0;
      }
      .img-destaque {
        width: 90px;
        margin-right: 2rem;
        @include tablet {
          width: 60px;
          margin-right: 0.5rem;
        }
        @include sm-mobile {
          width: 40px;
          margin-right: 0.5rem;
          margin-bottom: 0;
        }
      }

      h4 {
        font-size: 2rem;
        max-width: 200px;
        color: #fff;
        &:hover {
          color: #fff;
        }
        @include tablet {
          font-size: 1.5rem;
        }
        @include sm-mobile {
          font-size: 0.95rem;
        }
      }
    }
  }
}
.afliiados {
  .content-afiliados {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    .col-img {
      width: 55%;
      @include tablet {
        width: 100%;
        position: relative;
      }

      img {
        width: 100%;
        @include sm-mobile {
          width: 150%;
          position: absolute;
          top: -177px;
          left: -30px;
        }
      }
    }
    .col-info {
      width: 45%;
      @include tablet {
        width: 110%;
        display: flex;
        justify-content: center;
      }
      .content-info {
        max-width: 440px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url("../img/bg-retangulo.png");
        width: 100%;
        background-size: 100%;
        background-position-x: 100%;
        padding: 2rem 2rem;
        background-repeat: no-repeat;
        height: 380px;
        background-position-y: 100%;
        @include mobile {
          height: inherit;
          background-image: url("../img/bg-cadastro.png");
          padding: 2rem 0.5rem 2rem 0;
          height: 180px;
          background-size: contain;
          margin-right: 0.3rem;
          margin-bottom: 2rem;
        }
        h3 {
          color: #fff;
          font-size: 2.8rem;
          font-weight: 300;
          max-width: 370px;
          text-align: center;
          margin-bottom: 2rem;
          line-height: 47px;
          margin-top: 1rem;
          @include mobile {
            margin-top: 0;
            margin-bottom: 1rem;
            max-width: inherit;
            font-size: 1.3rem;
            line-height: 26px;
          }
          // @include sm-mobile {
          //   font-size: 1.8rem;
          // }
        }
        a {
          background-color: #f22437;
          text-decoration: none;
          color: #fff;
          font-size: 1.5rem;
          font-weight: 300;
          padding: 0.5rem 1.5rem;
          border-radius: 15px;
          transition: all ease-in-out 0.5s;
          @include mobile {
            font-size: 0.8rem;
            padding: 0.4rem 0.6rem;
          }
          &:hover {
            background-color: #fff;
            color: #f22437;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
.bg-02 {
  background-image: url("../img/bg-vermelho-02.svg");
  background-position-x: 0%;
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-size: 100%;
  @include lg {
    background-position-y: 520%;
  }
  @include big {
    background-position-y: 0%;
  }
}

.modal {
  width: 100%;
  .modal-content {
    background-color: #00000021 !important;
    border: nome !important;
  }
  .modal-dialog {
    max-width: 800px;
  }
  .close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: none;
    opacity: 1;
  }
  img {
    width: 100%;
  }
}
