$mb: 400px;
$sm-mobile: 550px;
$mobile: 600px;
$tablet: 900px;
$desktop: 1025px;
$lg: 1450px;
$xlg: 1850px;

$big: 1450px;

$waleston: 2395px;
/* MIXINS RESPONSIVO */
@mixin sm-mobile {
  @media only screen and (max-width: $sm-mobile) {
    @content;
  }
}
@mixin mobile {
  @media only screen and (max-width: $mobile) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (max-width: $tablet) {
    @content;
  }
}
@mixin desktop {
  @media only screen and (max-width: $desktop) {
    @content;
  }
}
@mixin lg {
  @media only screen and (max-width: $lg) {
    @content;
  }
}
@mixin xlg {
  @media only screen and (max-width: $xlg) {
    @content;
  }
}
@mixin mb {
  @media only screen and (max-width: $mb) {
    @content;
  }
}
@mixin big {
  @media only screen and (min-width: $big) {
    @content;
  }
}
@mixin waleston {
  @media only screen and (min-width: $waleston) {
    @content;
  }
}
